{% extends "FrontBundle::base.html.twig" %}

{% block title %} Edition de mes Coordonnées {% endblock %}

{% block nav %}
    {% for category in categories %}
           <li><a href="{{ path('category',{'id': category.id}) }}">{{ category.name }}</a></li>
   {% endfor %}
{% endblock %}

{% block body %}
<main class="container">
            <h1>Fiche Client : {{ entity.firstName }}</h1>
            
    <div class="row">
            
        <div class="col-md-3">
            <ul>
                <li><a href="{{ path('mesinfos',{'id': entity.id})  }}" title="">Mes informations</a></li>
                <li class="active"><a href="{{ path('client_edit',{'id': entity.id}) }}" title="">Modifier mes informations</a></li>
                <li><a href="{{ path('mesadresses') }}" title="">Mes adresses</a></li>
                <li><a href="#" title="">Mes commandes</a></li>
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-1">
            {{ form(edit_form) }}
            
            <!--<form method="post" class="form-horizontal" role="form">
                
                <div class="form-group">
                    {{form_label(edit_form.firstName)}}
                    {{form_widget(edit_form.firstName)}}
                </div>
                
                <div class="form-group">
                    {{form_label(edit_form.lastName)}}
                    {{form_widget(edit_form.lastName)}}
                </div>
                
                <div class="form-group">
                    {{form_label(edit_form.email)}}
                    {{form_widget(edit_form.email)}}
                </div>
                    
                <input type="submit" class="btn btn-primary" value="Valider" />
                
            </form>-->
  
           
        </div><!-- end .col-md-8 -->
    </div><!-- end .row -->
</main>
{% endblock %}

