{% extends "FrontBundle::base.html.twig" %}

{% block title %} Mon compte {% endblock %}

{% block nav %}
    {% for category in categories %}
           <li><a href="{{ path('category',{'id': category.id}) }}">{{ category.name }}</a></li>
   {% endfor %}
{% endblock %}
                                                
{% block body %}
<main class="home">
    <div class="container">

        <h1>Bonjour {{ entity.firstName }}</h1>
        
               
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href="{{ path('mesinfos',{'id': entity.id})  }}" title="">Mes informations</a></li>
                    <li><a href="{{ path('client_edit',{'id': entity.id}) }}" title="">Modifier mes informations</a></li>
                    <li><a href="{{ path('mesadresses') }}" title="">Mes adresses</a></li>
                    <li><a href="#" title="">Mes commandes</a></li>
                </ul>
            </div>
            <div class="col-md-8 col-md-offset-1">
                
            </div>
        </div>
        

            
    
        </div>
    </div><!-- end .container -->
</main>
{% endblock %}

